.photo-card {
  padding: 5px;
  border: 2px solid lightgray;
  border-radius: 6px;
  transition: 200ms linear;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.albums {
  height: 90vh;
  overflow-y: auto;
  &__loader {
    min-height: 5px;
  }
}
